body {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "main" "footer";
    overflow-x: hidden;
    background: #F5F7FA;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
  }
  body .footer {
    z-index: 1;
    --footer-background:#EBA937;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
    margin-top: 20%;
  }
  body .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
  }
  body .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
            animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
  }
  body .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding-left: 2rem;
    background: var(--footer-background);
  }
  body .footer .content a, body .footer .content p {
    color: #F5F7FA;
    text-decoration: none;
  }
  body .footer .content b {
    color: white;
  }
  body .footer .content p {
    margin: 0;
    font-size: 0.75rem;
  }
  body .footer .content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body .footer .content > div > div {
    margin: 0.25rem 0;
  }
  body .footer .content > div > div > * {
    margin-right: 0.5rem;
  }
  body .footer .content > div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
  
  }
  
  @-webkit-keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  
  @keyframes bubble-size {
    0%, 75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  @-webkit-keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }

  .footer-image img{
      background-color: black;
  }

  @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Nunito";
    font-size: 18px;
    background-color: rgb(173, 236, 236);
    font-weight: 300;
  }
  .container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popup {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: fit-content;
    top: 50px;
    left: 25%;
    transform: translate(-50%, -20px);
    background-color: white;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    transition: 0.5s ease-in-out all;
  }
  .popup.active {
    animation: copyPopup 1s ease forwards;
  }
  
  
  @keyframes copyPopup {
    0% {
      opacity: 0;
      pointer-events: none;
      transform: translate(-50%, -20px);
    }
    40% {
      opacity: 1;
      pointer-events: all;
      transform: translate(-50%, 0);
    }
    80% {
      opacity: 1;
      pointer-events: all;
      transform: translate(-50%, 0);
    }
    100% {
      opacity: 0;
      pointer-events: none;
      transform: translate(-50%, -20px);
    }
  }
  