/*rgb(244,236,225)*/

.transparent{
    background-color: rgb(244,236,225);
    /* background-color: black; */
    height: 100px;
}
.navbar{
    font-size: 20px;
}
.navbar a{
    margin-right: 32%;
}
.navbar img{
    background-color: black;
}

.bgBody{
    /*offwhite*/
    background-color: rgb(244,236,225);
    height: 550px;
    text-align: center; 
    
}

.bgBody2{
background-color: White;
width: 100%; 
}


.bgBody2 img{
    width: 400px;
    height: 400px;
    float:right;
    margin-right: 15%;
    margin-top: -5%;
}


.alignmentText{
    font-family: 'Dancing Script';
    font-size: 60px;
    padding-top: 10%;
    margin-bottom: 8%;
    line-height: 0.75;
}
.subtitle{
    font-size: 30px;
}



.bgBody img{
    margin-left: 25%;
    width: 80px;
    height: 80px;
}
.bgBody a{
    color: white;
    text-decoration: none;
    text-align: center;
}
.bgBody a i{
    color: rgb(255,118,72);
    padding: 20px 15px 15px 15px;
    border: 5px solid rgb(255,118,72);
    font-size: 30px;
    transition: background-color 1s ease-out 2ms;
    transition: color 1s ease-out 0.25ms;
}
.bgBody a i:hover{
    background-color: white;
    color: black;
}
html {
    scroll-behavior: smooth;
   }
   #down {
    margin-top: 100%;
    padding-bottom: 25%;
   } 

   .bgBody3{
    background-color: White;
    width: 100%; 
    }
    .bgBody3 img{
        width: 400px;
        height: 400px;
        float:left;
        margin-left: 15%;
        margin-top: 20%;
    }
    .sectionHeader2{
        margin-right: 25%;
        margin-top:15%;
        font-size: 30px;
        float: right;
    }
    .bgBody3 i{
        margin-left: 22%;
        margin-top:5%;
    }
   .grid{
    display: grid;      grid-template-columns: 1fr 1fr;          width: 100%;
    margin-top:15%;
   }
   @media screen and (max-width: 1024px){
    .grid{
        grid-template-columns: 1fr;
        text-align: center;
        width: 100%;
    }
    /* .grid-child-left{
        margin-top:15%;
        margin-right: 10%;
        text-align: center; 
       }
       .grid-child-left img{
        
        margin-right: -2%;
        margin-top: 30%;
       }
       .grid-child-right{
        margin-bottom:50%;
        
        margin-left: 10%;
           text-align: center; 
       }*/
        .grid-child-right img{
        margin-left: 20%;
        
   
        
       }   
    

}
.grid-child-left{
   
    margin-left: 50px;
    margin-right:50px;
    text-align: center; 
   }
   .grid-child-right{
    /* margin-top:15%;
     margin-right: 50px; 
     margin-left: 50px;
       text-align: center;  */
       margin-top: 0px;
   }


