@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

.search__container {
        padding-top: 64px;
        margin:auto;
        max-width:150vh;
        margin-left: 700px; 

    }

.search__input {
        width: 40%;
        padding: 12px 24px;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

.search__input::placeholder {
            color: rgba(87, 87, 86, 0.8);
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

.search__input:hover,
        .search__input:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
        }


