body{
  background-color: rgb(244,236,225);
}
/* .container{
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  font-size: 10vh;
  text-transform: uppercase;
  padding-top: 74px;
  margin:auto;
  max-width:50%;
  margin-left: 1000px; 
} */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    padding-top: 74px;
}

.product-grid{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top:15vh;
  padding: 2vh; 
  position: relative;
  left: 240px;
}
.product-grid .product-image{
  overflow: hidden;
  position: relative;
  /* z-index: 1;  */
}
/* .product-grid .product-image img{
  width: 70%;
  height: auto;
} */
/* .product-grid .product-discount-label{
  color: #fff;
  background: #A5BA8D;
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
  padding: 0 20px;
  position: absolute;
  top: 10px;
  left: 0;
} */
.product-grid .product-links{
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 10px;
  right: -50px;
  transition: all .5s ease 0s;
}
.product-grid:hover .product-links{ right: 10px; }
.product-grid .product-links li a{
  color: #333;
  background: transparent;
  font-size: 17px;
  line-height: 38px;
  width: 38px;
  height: 38px;
  border: 1px solid #333;
  border-bottom: none;
  display: block;
  transition: all 0.3s;
}
.product-grid .product-links li:last-child a{ border-bottom: 1px solid #333; }
.product-grid .product-links li a:hover{
  color: #fff;
  background: #333;
}
/* .product-grid .add-to-cart{
  background: #A5BA8D;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  padding: 10px 26px;
  position: absolute;
  left: 0;
  bottom: -60px;
  transition: all 0.3s ease 0s;
} */
/* .product-grid:hover .add-to-cart{ bottom: 0; }
.product-grid .add-to-cart:hover{ text-shadow: 4px 4px rgba(0,0,0,0.2); } */
.product-grid .product-content{
  background: #fff;
  padding: 15px;
  box-shadow: 0 0 0 5px rgba(0,0,0,0.1) inset;
}
.product-grid .title{
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 7px;
}
.product-grid .title a{
  color: #777;
  transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{ color: #a5ba8d; }
.product-grid .price{
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 600;
}
.product-grid .price span{
  color: #888;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
}
@media screen and (max-width: 990px){
  .product-grid{ margin-bottom: 30px; }
}
/* .search__container {
  padding-top: 64px;
  margin:auto;
  max-width:150vh;
  margin-left: 700px;
  margin-top:10vh; 
}

.search__input {
  width: 40%;
  padding: 12px 24px;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  background:rgb(244,236,225);

}

.search__input::placeholder {
      color: rgba(87, 87, 86, 0.8);
      text-transform: uppercase;
      letter-spacing: 1.5px;
      background:rgb(244,236,225);

  }

.search__input:hover,
  .search__input:focus {
      padding: 12px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #575756;
      border-radius: 0;
      background-position: 100% center;
      background:rgb(244,236,225);

  }   
   :root {
    --rad: 0.7rem;
    --dur: 0.3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --font-fam: "Lato", sans-serif;
    --height: 5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
  }
  
  .Searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
    margin-top:10vh;
  }
  
  html {
    box-sizing: border-box;
    height: 100%;
    font-size: 10px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  form {
    position: relative;
    width: 70rem;
    background: var(--color-brand);
    border-radius: var(--rad);
  }
  
  input,
  button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.8rem;
  }
  
  input[type=search] {
    outline: 0;
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }
  
  button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
  }
  
  input:not(:-moz-placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
  }
  
  input:not(:-ms-input-placeholder) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
  }
  
  input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
  }
  input:not(:-moz-placeholder-shown) + button {
    display: block;
  }
  input:not(:-ms-input-placeholder) + button {
    display: block;
  }
  input:not(:placeholder-shown) + button {
    display: block;
  }
  
  label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  } */

/* hr{
  width:90%;
  margin-left:8vh;
  border-top: 10px solid #8c8b8b;
  border-color:black;
}
.header{
width:50%;
margin-left: 50vh;
} */

:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: "Lato", sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

.Searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 64px;
    margin-top:10vh;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 10px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

form {
  position: relative;
  width: 70rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}

input, button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}

input[type=search] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}

input:not(:-moz-placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}

input:not(:-ms-input-placeholder) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}

input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}
input:not(:-moz-placeholder-shown) + button {
  display: block;
}
input:not(:-ms-input-placeholder) + button {
  display: block;
}
input:not(:placeholder-shown) + button {
  display: block;
}

label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
