.mainContainer{
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
}
.mainContainer h1{
    color: #fab637
}
.mainContainer hr{
    outline: none;
    border: none;
    height: 2px;
    background-color: #fab637;
}
.searchContainer{
    background-color: white;
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10%;
    color: #fab637;
}
.searchContainer hr{
    outline: none;
    border: none;
    height: 2px;
    background-color: #fab637;
}
.pendingContainer{
    background-color: white;
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10%;
    color: #fab637;
}
.pendingContainer hr{
    outline: none;
    border: none;
    height: 2px;
    background-color: #fab637;
}
.orderGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    
}
.orderCard{
    background-color: white;
    padding: 10px;
    width: 100%;
}
.orderCard h2{
    color: #fab637;
}
.orderCard hr{
    outline: none;
    border: none;
    height: 2px;
    background-color: #fab637;
}
.deliveryLink{
    outline: none;
    border: none;
    background-color: white;
    border: 2px solid #fab637;
    padding: 10px;
    transition: 0.5s;
}
.deliveryLink:hover{
    background-color: #fab637;
    color: white;
}
.infoGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.infoChild{
    text-align: center;
}
.infoChild h2{
    color: gray;
    font-size: 30px;
}
#search{
    width: 50%;
    padding: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #fab637;
    color: gray;
    font-size: 25px;
}
#searchButton{
    color: white;
    background-color:#FBAB7E;
    outline:none;
    border: none;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
}
#type,#filter{
    outline: none;
    border: none;
    padding: 10px;
    font-size: 20px;
    color: white;
    background: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}
.confirmDel{
    color: white;
    background-color: green;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 20px;
    padding: 10px;
    display: none;
}
#confirm{
    color: green;
    background-color: white;
    padding: 10px;
    outline: none;
    border: none;
    margin-right: 10px;
}
#cancel{
    color: red;
    background-color: white;
    outline: none;
    border: none;
    padding: 10px;
}
.centeredButtons{
    text-align: center;
}