.mainContainer{
    background-color: white;
    width: 80%;
    margin-left: 10%;
    color: #fab637;
    padding: 10px;
}
.mainContainer hr{
    outline: none;
    border: none;
    height: 2px;
    background-color: #fab637;
}
.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.gridChild{
    border: 2px solid #F7CE68;
    border-radius: 15px;
    text-align: center;
    padding : 20px
}
.searchContainer{
    background-color: white;
    width: 30%;margin-left: 10%;
    color: #fab637;
    padding: 10px;
    margin-top: 10px;

}
.searchContainer hr{
    outline: none;
    border: none;
    height: 2px;
    background-color: #fab637;
}
.regionGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-left: 10%;
    margin-top: 10px;
    width: 80%;
    
}
.regionCard{
    background-color: white;
    padding: 10px;
    
}
.regionCard h1{
    color: #fab637;
}
.regionCard hr{
    outline: none;
    border: none;
    height: 2px;
    background-color: #fab637;
}