.mainContainer{
    background-color: white;
    width: 80%;
    margin-left: 10%;
    padding: 10px;
}
.mainContainer h1{
    color: #fab637;
}
.mainContainer hr{
    outline: none;
    border: none;
    height: 2px;
    background-color: #fab637;

}
.gridTable{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    
}
.cardTable{
    border: 3px solid #F7CE68;
    border-radius: 15px;
    padding: 40px;
    text-align: center;
}
.searchContainer{
    background-color: white;
    width: 80%;
    margin-left: 10%;
    color: #fab637;
    padding: 10px;
    margin-top: 10px;

}
.searchContainer hr{
    outline: none;
    border: none;
    height: 2px;
    background-color: #fab637;
}
.surveyGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-left: 10%;
    margin-top: 10px;
    width: 80%;
    
}
.surveyCard{
    background-color: white;
    padding: 10px;
}
.surveyCard h1{
    color: #fab637;
}
.surveyCard hr{
    outline: none;
    border: none;
    height: 2px;
    background-color: #fab637;
}
.emptyList{
    background-color: white;
    margin-top: 10px;
    padding: 50px;
    color: gray;
    font-family: arial;
    text-align: center;
    font-size: 20px;
    width: 80%;
    margin-left: 10%;
}
.emptyList i{
    color: red;
    font-size:40px;
}
#search{
    width: 50%;
    padding: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #fab637;
    color: gray;
    font-size: 25px;
}
#searchButton{
    color: white;
    background-color:#FBAB7E;
    outline:none;
    border: none;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
}
#type,#filter{
    outline: none;
    border: none;
    padding: 10px;
    font-size: 20px;
    color: white;
    background: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}